@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.post-card {
    max-width: 550px;
    max-height: 500px;
    min-height: 350px;
}

.mobile-menu-oppened {
    right: 0;
}
form input, form select {
    @apply w-full py-2 bg-transparent border-b-2 focus:outline-none;
}

form button[type=submit] {
    @apply py-3 px-5 md:text-xl
}

form button[type=submit].primary{
    @apply bg-primary;
}

form button[type=submit].secodary{
    @apply bg-secondary;
}

form textarea {
    @apply w-full h-48 py-2 bg-transparent border-b-2 focus:outline-none;
}

.shadow-bg {
    @apply absolute w-full h-full bg-black z-10 opacity-60
}

.plan-card {
    @apply px-10 border flex flex-col min-h-[500px] justify-around w-full lg:w-[450px]
} 
    .plan-card h3 {
        @apply text-center text-3xl
    } 
    .plan-card ul {
        @apply list-decimal list-inside
    }
        .plan-card ul span {
            @apply 
            block text-center
        }
        .plan-card .price {
            font-family: "sans-serif";
        }

.button {
    @apply p-3 w-full bg-primary
}
.image-grid {
    @apply flex flex-wrap w-full gap-5 justify-between my-5
}
    .image-grid > li{
        @apply min-w-full sm:min-w-[280px] md:min-w-[300px] lg:min-w-[350px] h-[180px] sm:h-[200px] bg-black relative hover:cursor-pointer hover:scale-110 transition
    }
    .image-grid .content {
        @apply absolute w-full h-full z-20 text-white p-5
    }
    .image-grid .content .desc {
        @apply md:hidden w-full py-2
    }
    .image-grid > li:hover .content .desc {
        @apply block
    }

.instagram {
    margin: 10px 0px;
}

#instafeed {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
}

#instafeed a {
    display: flex;
    width: 48%;
}

#instafeed a img {
    width: 100%;
    object-fit: cover;
}

@media(max-width: 768px) {
    #instafeed {
        flex-wrap: wrap;
        column-gap: 0px;
        justify-content: space-between;
    }
}
